/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes button-arrow {
    from {
      transform: translate(0px);
    }
    to {
      transform: translate(4px);
    }
  }

  @keyframes heart-enlarges {
    from {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    to {
      transform: scale(1);
    }
  }
  
  @keyframes heart-sparkles {
    from {
      fill: transparent;
    }
    50% {
      fill: rgba(255, 0, 0, 1);
    }
    to {
      fill: transparent;
    }
  }
  
  .heart {
    cursor: pointer;
    transition: transform 0.3s linear;
  }
  
  .heart:hover .main-body {
    fill: var(--accent-color);
    transition-delay: 0.05s;
  }
  
  .heart:hover .core {
    fill: var(--accent-color);
    transition-delay: 0s;
  }
  
  .heart:active .core,
  .heart:active .main-body {
    fill: rgba(255, 0, 0, 1);
  }
  
  .like-icon.is-liked .contour {
    transition: fill 0.06s linear;
  }
  
  .contour {
    transition: fill 0.01s linear;
  }
  
  .like-icon.is-liked .heart path {
    fill: rgba(255, 0, 0, 1);
    animation: heart-enlarges 0.3s 0.1s linear;
    transform-origin: 50%;
  }
  
  .like-icon.is-liked .sparks {
    fill: none;
    animation: heart-sparkles 0.3s 0.3s linear;
  }
  
  .main-body {
    fill: transparent;
    transition: fill 0.3s 0s linear;
  }
  
  .core {
    fill: transparent;
    transition: fill 0.3s 0.03s linear;
  }